/* 
    Tim Finer 
    tfiner@csu.fullerton.edu
    CPSC-599
*/

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#render_window {
    background-color: #666;
}

.glow-window {
    width: 100%;
    height: 100%;
}

#log_window {
    resize: none;
}

.gridster li header {
    background: #999;
    display: block;
    font-size: 20px;
    line-height: normal;
    /*padding: 4px 0 6px ;*/
    cursor: move;
}

canvas {
    left: 0px;
}

